@import "tailwindcss";

@theme {
	--font-montserrat: 'Montserrat';
	--font-manrope: 'Manrope';
	--font-brewery: 'Brewery';
	--color-white: #ffffff;
	--color-white/12: rgba(255, 255, 255, 0.12);

	--text-hero--line-height: 3.5rem;
	--text-hero-sm: 4rem;
	--text-hero-sm--line-height: 4.4rem;
	--text-hero-md: 5rem;
	--text-hero-md--line-height: 5.3rem;
	--text-hero-lg: 6rem;
	--text-hero-lg--line-height: 6.2rem;
	--text-hero-xl: 7rem;
	--text-hero-xl--line-height: 7.2rem;
	--text-hero-2xl: 8.75rem;
	--text-hero-2xl--line-height: 8.75rem;

	--text-section-title: 2.2rem;
	--text-section-title--line-height: 2.8rem;
	--text-section-title: 2.8rem;
	--text-section-title--line-height: 3.1rem;
	--text-section-title: 3.2rem;
	--text-section-title--line-height: 3.6rem;
	--text-section-title: 3.5rem;
	--text-section-title--line-height: 3.7rem;
	--text-section-title: 4rem;
	--text-section-title--line-height: 4.1rem;
	--text-section-title: 4.375rem;
	--text-section-title--line-height: 4.375rem;
}